/* Basic page styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center; /* Center text alignment by default */
    background-color: #f6eee0;
}

/* Header styling */
header {
    padding: 5px;
    background-color: #e4b7a0;
}

h1 {
    color: #a45c40;
    margin: 0;
    text-align: center;
}

/* Container for the three columns */
.container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

/* Styling for each column */
.column {
    padding: 2px;
    box-sizing: border-box;
}


.login {
    font-size: 20px;
    color: #A45C40;
    width: 50%;
    text-align: right;
    padding: 15px;
    border-right: 3px solid black; /* Adds vertical line on the right */
}


.signUp {
    font-size: 20px;
    color: #A45C40;
    width: 50%;
    text-align: left;
    padding: 15px;
}

.left {
    font-size: 20px;
    color: #A45C40;
    width: 35%;
    text-align: right;
    padding: 5px;
    padding-right:15px;
}


.right {
    font-size: 20px;
    width: 65%;
    text-align: left;
    padding: 5px;
}

#loggedInDiv
{
    font-size: 20px;
    width: 100%;
    text-align: center;
}

#accessUIDiv
{
    font-size: 0px;
    width: 100%;
    padding: 25px;
}

#loginName
{
    font-size: 15px;
}
#loginPassword
{
    font-size: 15px;
}

#firstName
{
    font-size: 15px;
}
#lastName
{
    font-size: 15px;
}

#userName
{
    font-size: 15px;
}
#password
{
    font-size: 15px;
}

#searchText
{
    font-size: 15px;
}

#contactName
{
    font-size: 15px;
}

#telephone
{
    font-size: 15px;
}

#email
{
    font-size: 15px;
}

#inner-title{
    display: inline-table;
    font-size: 1em;
    width: 40%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Ubuntu', sans-serif;
    color: #c38370;
}

.buttons_index
{
    font-size: 20px;
    border-radius: 25px;
    width: 23%;
    margin-left: 20%;
    font-family: 'Ubuntu', sans-serif;
}

.buttons_index:hover{
    background-color: #c38370;
    color: #FFFFFF;
    opacity: 50%;
}

.buttons_logout
{
    font-size: 15px;
    border-radius: 25px;
    width: 20%;
    align-items: right;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 12px;
    color: #F6EEE0;
    background-color: #A45C40;
}

.buttons_logout:hover{
    background-color: #C38370;
    color: #FFFFFF;
    opacity: 50%;
}

.buttons
{
    font-size: 20px;
    border-radius: 25px;
    width: 20%;
    font-family: 'Ubuntu', sans-serif;
}

.buttons:hover{
    background-color: #c38370;
    color: #FFFFFF;
    opacity: 50%;
}

#contactSearchResult{
    display: none;
}

#contactAddResult{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 1%;
    font-family: 'Ubuntu', sans-serif;
    color: #A45C40;
}

#loginResult{
    display: inline-block;
    font-size: 0.8em;
    width: 50%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Ubuntu', sans-serif;
    color: #FF0000;
}

input[type="text"],input[type="password"]{
    border-radius: 12px;
    text-align: center;
    width: 45%;
    font-family: 'Ubuntu', sans-serif;
}
